<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Journey Stocks</title>
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"></script>
  <script type="module" src="main.js"></script>
  <link rel="stylesheet" href= "style.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css">
</head>

<body>
  <div id="app">
    <p>Day Count: <br> {{currentDay}}</p>
    <br>
    <h1>Balances</h1>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>Portfolio Value:</p>
        </div>
        <div class="col-sm">
          <p>Money available for trading:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <p>${{displayNumber(bank.balance)}}</p>
        </div>
        <div class="col-sm">
          <p>${{displayNumber(calcPortValue())}}</p>
        </div>
      </div>
    </div>

    <h1>Your Stocks</h1>
    <div class="container">
      <div class="row">
        <div v-for="(stock, index) in stocks" class="col-sm">
          <p><b>{{stock.name}}</b></p>
          <p>Cost: ${{displayNumber(stock.cost)}}</p>
          <div v-if="stock.isDividendStock()">
            <p>Dividend per Share: ${{displayNumber(stock.rate)}}</p>
          </div>
          <div v-else>
            <br> <br>
          </div>

          <p v-if="stock.shares > 0">Shares owned: {{stock.shares}}</p>

          <button v-on:click="buy(sharesToBuy, index)">Buy</button>
          <input type="number" id="sharesToBuy" name="Number of shares" onkeypress="return event.charCode >=48" min="0"><br>
          <div v-if="sharesToBuy!=0">
            <p>That will cost: {{stock.cost*sharesToBuy}}</p>
          </div>
          <div v-else>
            <br>
          </div>
          <br>
          <button v-on:click="sell(sharesToSell, index)">Sell</button>
          <input type="number" id="sharesToSell" name="Number of shares" onkeypress="return event.charCode >=48" min="0"><br>
          <div v-if="sharesToSell!=0">
            <p>You will earn: {{stock.cost*sharesToSell}}</p>
          </div>
          <div v-else>
            <br>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
