<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Journey Stocks</title>
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"></script>
  <script type="module" src="main.js"></script>
</head>


<!--
  Stock 1: Day 0
  Stock 2: Day 30
  Stock 3: Day 60
 -->

<body>
  <div id="app">
    <p>Balance: ${{displayNumber(bank.balance)}}</p>
    Day {{currentDay}}
    <div v-for="(stock, index) in stocks">
      <div v-if="currentDay >= index * 30">
        <p><b>{{stock.name}}</b></p>
        <p>Cost: ${{displayNumber(stock.cost)}}</p>
        <p v-if="stock.shares > 0">Shares owned: {{stock.shares}}</p>
        <button v-on:click="buy(1, index)">Buy 1</button>
        <button v-on:click="buy(10, index)">Buy 10</button>
        <button v-on:click="buyAll(index)">Buy All</button>
        <br>
        <button v-on:click="sell(1, index)">Sell 1</button>
        <button v-on:click="sell(10, index)">Sell 10</button>
        <button v-on:click="sellAll(index)">Sell All</button>
        <br>
      </div>
    </div>
  </div>
</body>

</html>
